body {
    /* background-color: #474747; */
    background: radial-gradient(#525252, #141414);
    font-family: "Playfair Display", sans-serif;
}

.title {
    font-size: 5rem;
    text-align: center;
    /* height: 90vh;
    line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 3px 3px 0px #eb452b, 5px 5px 0px #efa032, 7px 7px 0px #052939, 8px 8px 0px #c11a2b, 10px 10px 0px #c11a2b, 12px 12px 0px #c11a2b, 14px 14px 0px #c11a2b;
}


/* .title {
    font-weight: 400;
    font-size: 5rem;
    color: white; 
} */

::selection {
    background-color: #a82637;
    color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-img-top {
    padding: 1em;
    width: 18rem;
    height: 18rem;
    border-radius: 8%;
    /* padding-bottom: 0%; */
}

.card {
    margin-bottom: 20%;
    background-color: #eddcd2;
    border: none;
}

.card:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    /* border: 3px solid #c11a2b; */
    border: 3px solid transparent;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.card:after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    /* border: 3px solid #c11a2b; */
    border: 3px solid transparent;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.card:hover:before {
    height: 30rem;
    width: 18rem;
    border: 3px solid #85182a;
    border-right: none;
    border-bottom: none;
    transition: height 0.25s linear, width 0.25s linear 0.25s;
}

.card:hover:after {
    height: 30rem;
    width: 18rem;
    border: 3px solid #85182a;
    border-left: none;
    border-top: none;
    transition: height 0.25s linear, width 0.25s linear 0.25s;
}

.card:hover {
    color: white;
    /* background-color: #f19c79; */
    background-color: #ddb892;
    transition: all 0.32s;
}

.card-body {
    padding: 0;
}

.card-title {
    font-weight: 500;
    /* font-style: italic; */
    font-size: 2em;
}

.card-text {
    padding-right: 6%;
    padding-left: 6%;
}

.card-button {
    margin-bottom: 6%;
    background: #85182a;
    border: 0px solid white;
}

.card-button:hover {
    border-color: #85182a;
    color: #85182a;
    box-shadow: 0 0.5em 0.5em -0.4em #ff0000;
    transform: translateY(-0.15em);
    transition: all 0.2s;
    cursor: pointer;
}


/*//////////////////////////////////////*/

@media (max-width: 800px) {}